openapi: 3.2.0
info:
  title: ARC‑AGI‑3 REST Games API
  version: 1.0.0
  description: Programmatic interface for running agents against ARC‑AGI‑3 games, opening/closing score‑cards and driving game state with actions.
servers:
- url: https://three.arcprize.org
tags:
- name: Games
paths:
  /api/games:
    get:
      tags:
      - Games
      summary: List available games
      description: 'Retrieves metadata for every game currently exposed by the

        ARC-AGI-3 platform.

        Use this discovery endpoint to obtain `game_id` values before

        opening a scorecard or issuing commands. Results are returned as

        a flat array ordered alphabetically by `title`.'
      operationId: listGames
      security:
      - ApiKeyAuth: []
      responses:
        '200':
          description: Successful lookup; array of game descriptors.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Game'
              examples:
                sample:
                  summary: Two games
                  value:
                  - game_id: ls20-016295f7601e
                    title: LS20
                  - game_id: ft09-16726c5b26ff
                    title: FT09
        '401':
          description: Missing or invalid **X-API-Key** header.
components:
  schemas:
    Game:
      type: object
      description: "Human-readable name/identifier pair for an ARC-AGI-3 game.  \nUsed when listing available titles or embedding game metadata in other payloads.\n"
      properties:
        game_id:
          type: string
          example: ls20-016295f7601e
          description: Stable, globally unique ID combining slug and version/hash.
        title:
          type: string
          example: LS20
          description: Display title shown in UIs and scorecards.
      required:
      - game_id
      - title
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
